@font-face {
    font-family: garet-normal;
    src: url(../fuentes/Garet-Book.otf);
}

@font-face {
    font-family: garet-bold;
    src: url(../fuentes/Garet-Heavy.otf);
}

$colorLetra: rgb(255, 255, 255);
$fuenteBold: garet-bold;
$fuenteNormal: garet-normal;
$fondoBoton: rgb(45, 130, 241);
$fondoBotonHover: rgb(25, 25, 233);
$fondoPagina: #131312;
$fondoOscuroClaro: rgb(41, 41, 41);
$colorExtras: #182b4b;
$colorLetraSoporte: rgb(203, 208, 221);


.bannerFlujo {
    background-color: $fondoPagina;
    height: 40vw;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 3vw;

    h2 {
        color: $colorLetra;
        font-family: $fuenteBold;
        font-size: 5vw;
        width: 90vw;

        .iconBannerFlujo {
            position: relative;
            top: 5px;
        }
    }
}

.cuadroServicios {
    background-color: $fondoOscuroClaro;
    padding-top: 3vw;

    .imagenServicios {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 2vw;

        img {
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.678) 0px 2px 4px, rgba(0, 0, 0, 0.664) 0px 7px 13px -3px, rgba(0, 0, 0, 0.61) 0px -3px 0px inset;
        }
    }
}


.diagrama {
    background-color: $fondoPagina;
    padding-top: 3vw;

    .diagramaCuadro {
        margin-block: 4vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $fondoOscuroClaro;
        margin-inline: 4vw;
        padding-block: 2vw;
        border-radius: 5px;

        p {
            color: $colorLetraSoporte;
            font-family: $fuenteNormal;
        }

        .circulosTrabajo {
            .listEtapas {
                display: flex;
                padding-block: 6vw;
                color: $colorLetra;
                list-style-type: none;
                gap: 80px;
                padding-left: 0;

                .etapa {
                    background-color: $colorExtras;
                    padding: 1.5vw;
                    border-radius: 90px;
                    height: 10vw;
                    width: 10vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    transition: all .4s ease-in-out;
                    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                    &:hover{
                        transform: scale(1.06);
                    }

                    h4 {
                        margin: 0;
                        padding: 0;
                    }
                }
                .e1{
                    background-color: rgb(46, 137, 212);
                    &:before{
                        content: 'Primer contacto con el cliente. Recopilación de información y necesidades para iniciar el proyecto.';
                        position: absolute;
                        opacity: 0;
                        width: 54vw;
                        top: -4vw;
                        left: 0;
                        background-color: $colorLetra;
                        color: $fondoPagina;
                        padding-left: 1vw;
                        padding-block: .8vw;
                        border-radius: 5px;
                        z-index: 5;
                        transition: all .4s ease-in-out;
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    }
                    &:hover:before{
                        opacity: 1;
                    }
                }
                .e2{
                    background-color: rgb(190, 88, 216);
                    &:before{
                        content: 'Análisis de requerimientos y preparación de propuestas económica para el cliente.';
                        position: absolute;
                        opacity: 0;
                        width: 45vw;
                        top: -4vw;
                        left: 0;
                        background-color: $colorLetra;
                        color: $fondoPagina;
                        padding-left: 1vw;
                        padding-block: .8vw;
                        border-radius: 5px;
                        z-index: 5;
                        transition: all .4s ease-in-out;
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    }
                    &:hover:before{
                        opacity: 1;
                    }
                }
                .e3{
                    background-color: rgb(223, 66, 66);
                    &:before{
                        content: 'Etapa en la que se llega a un acuerdo con el cliente y se realiza el cierre exitoso de la negociación.';
                        position: absolute;
                        opacity: 0;
                        width: 54vw;
                        top: -4vw;
                        left: 0;
                        background-color: $colorLetra;
                        color: $fondoPagina;
                        padding-left: 1vw;
                        padding-block: .8vw;
                        border-radius: 5px;
                        z-index: 5;
                        transition: all .4s ease-in-out;
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    }
                    &:hover:before{
                        opacity: 1;
                    }
                }
                .e4{
                    background-color: rgb(44, 175, 44);
                    &:before{
                        content: 'Implementación técnica integrando todos los elementos visuales y de audio.';
                        position: absolute;
                        opacity: 0;
                        width: 44vw;
                        top: -4vw;
                        left: -17vw;
                        background-color: $colorLetra;
                        color: $fondoPagina;
                        padding-left: 1vw;
                        padding-block: .8vw;
                        border-radius: 5px;
                        z-index: 5;
                        transition: all .4s ease-in-out;
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    }
                    &:hover:before{
                        opacity: 1;
                    }
                }
                .e5{
                    background-color: rgba(36, 36, 177, 0.918);
                    &:before{
                        content: 'El cliente realiza la revisión del poryecto y si el cliente esta de acuerdo se pasa a la siguiente etapa.';
                        position: absolute;
                        opacity: 0;
                        width: 54vw;
                        top: -4vw;
                        left: -27vw;
                        background-color: $colorLetra;
                        color: $fondoPagina;
                        padding-left: 1vw;
                        padding-block: .8vw;
                        border-radius: 5px;
                        z-index: 5;
                        transition: all .4s ease-in-out;
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    }
                    &:hover:before{
                        opacity: 1;
                    }
                }
                .e6{
                    background-color: rgb(243, 98, 41);
                    &:before{
                        content: 'Revisión final, entrega al cliente y seguimiento post-entrega.';
                        position: absolute;
                        opacity: 0;
                        width: 34vw;
                        top: -4vw;
                        left: -20vw;
                        background-color: $colorLetra;
                        color: $fondoPagina;
                        padding-left: 1vw;
                        padding-block: .8vw;
                        border-radius: 5px;
                        z-index: 5;
                        transition: all .4s ease-in-out;
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    }
                    &:hover:before{
                        opacity: 1;
                    }
                }
            }
        }
    }
}


.resumenTrabajo{
    display: flex;
    justify-content: center;
    align-items: center;
    .listResumen{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        font-family: $fuenteBold;
        gap: 70px;
        color: $colorLetra;
        font-size: 1.5vw;
        padding-left: 0;
        li{
            display: flex;
            gap: 10px;
            p{
                margin: 0;
            }
            h5{
                margin: 0;
                position: relative;
                top: 3px;
            }
            .iconResumen{
                position: relative;
                top: 3px;
            }
        }
        .r1{
            color: rgb(57, 152, 241);
        }
        .r2{
            color: rgb(189, 81, 216);
        }
        .r3{
            color: rgb(219, 219, 62);
        }
        .r4{
            color: rgb(59, 226, 59);
        }
        .r5{
            color: rgb(236, 61, 61);
        }
    }
}


.protocolosFase{
    background-color: $fondoOscuroClaro;
    padding-top: 3vw;
    p{
        color: $colorLetraSoporte;
        font-family: $fuenteNormal;
        font-weight: 700;
        padding-left: 1vw;
        padding-bottom: 2vw;
        font-size: 1.3vw;
    }
    .fases{
        padding-inline: 2vw;
        padding-bottom: 4vw;
        .accordion{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .accordion-item{
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                .accordion-header{
                    .accordion-button{
                        border-radius: 10px;
                        display: flex;
                        gap: 10px;
                        font-size: 1.4vw;
                        font-family: $fuenteBold;
                        .icon{
                            font-size: 1.4vw;
                        }
                    }
                }
                .accordion-collapse{
                    .accordion-body{
                        .info{
                            strong{
                                font-family: $fuenteBold;
                            }
                            font-family: $fuenteNormal;
                            .herramientas{
                                .hr{
                                    display: flex;
                                    gap: 20px;
                                    font-family: $fuenteNormal;
                                    color: $fondoPagina;
                                    font-weight: 700;
                                    list-style-type: none;
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}