@font-face {
    font-family: garet-normal;
    src: url(../fuentes/Garet-Book.otf);
}

@font-face {
    font-family: garet-bold;
    src: url(../fuentes/Garet-Heavy.otf);
}

$colorLetra: rgb(255, 255, 255);
$fuenteBold: garet-bold;
$fuenteNormal: garet-normal;
$fondoBoton: rgb(45, 130, 241);
$fondoBotonHover: rgb(25, 25, 233);
$fondoPagina: #111827;
$fondoPagina2: #19212e;
$colorExtras: #182b4b;
$colorVineta: rgb(177, 50, 182);
$fondoVinetaHover: rgb(120, 40, 122);
$colorTitulo: rgb(138, 150, 255);

.bannerSoftware {
    background-color: $fondoPagina;
    height: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: $fuenteBold;
        background: linear-gradient(rgb(156, 175, 240), rgb(129, 28, 223));
        -webkit-background-clip: text;
        color: transparent;
        font-size: 4.5vw;
    }

    p {
        font-family: $fuenteNormal;
        color: $colorLetra;
        font-weight: 700;
        font-size: 2vw;
    }
}


.introduccion {
    background-color: $fondoPagina2;
    padding-block: 4vw;

    .row {
        .col-md-5 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                font-family: $fuenteBold;
                background: linear-gradient(rgb(156, 175, 240), rgb(129, 28, 223));
                -webkit-background-clip: text;
                color: transparent;
                font-size: 3.5vw;
                text-align: left;
            }

            p {
                font-family: $fuenteNormal;
                font-weight: 700;
                color: $colorLetra;
                font-size: 1.4vw;
                text-align: left;
            }
        }

        .col-md-7 {
            img {
                width: 100%;
                border-radius: 5px;
                transition: all .3s ease-in-out;

                &:hover {
                    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
                    transform: scale(0.99);
                }
            }
        }
    }
}

.aplicaciones {
    background-color: $fondoPagina;
    padding-bottom: 5vw;
    .cardsApps {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding-inline: 30px;

        .card {
            width: 95%;
            padding: 1vw 0 1vw 2vw;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: $fondoPagina2;
            border-radius: 10px;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
                box-shadow:
                    rgba(46, 179, 240, 0.178) 0px 5px,
                    rgba(46, 114, 240, 0.3) 0px 10px,
                    rgba(46, 153, 240, 0.2) 0px 15px,
                    rgba(46, 137, 240, 0.1) 0px 20px,
                    rgba(46, 75, 240, 0.05) 0px 25px,

                    rgba(46, 179, 240, 0.178) -5px 5px,
                    rgba(46, 114, 240, 0.3) -10px 10px,
                    rgba(46, 153, 240, 0.2) -15px 15px,
                    rgba(46, 137, 240, 0.1) -20px 20px,
                    rgba(46, 75, 240, 0.05) -25px 25px,

                    rgba(46, 179, 240, 0.178) 5px 5px,
                    rgba(46, 114, 240, 0.3) 10px 10px,
                    rgba(46, 153, 240, 0.2) 15px 15px,
                    rgba(46, 137, 240, 0.1) 20px 20px,
                    rgba(46, 75, 240, 0.05) 25px 25px;

                transform: translateY(-10px);
            }

            h4 {
                font-family: $fuenteBold;
                color: $colorTitulo;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;

                li::marker {
                    color: $colorVineta;
                }

                li {
                    color: $colorLetra;
                    font-family: $fuenteNormal;
                    font-weight: 700;
                    font-size: 1.2vw;
                }
            }
        }
    }
}

.preguntas{
    background-color: $fondoPagina;
    padding-bottom: 5vw;
    .accordion{
        margin-inline: 10vw;
        .accordion-item{
            .accordion-header{
                font-family: $fuenteBold;
                .accordion-button{
                    background-color: $fondoPagina;
                    color: $colorLetra;
                }
            }
            .accordion-collapse{
                .accordion-body{
                    background-color: $fondoPagina;
                    font-family: $fuenteNormal;
                    font-weight: 700;
                    font-size: 1.2vw;
                    color: $colorLetra;
                }
            }
        }
    }
}

.contacto{
    background-color: $fondoPagina2;
    padding-bottom: 5vw;
    text-align: center;
    .botones{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        .boton1{
            background-color: $fondoBoton;
            border: none;
            padding: 1.5vw 3vw 1.5vw 3vw;
            transition: all .3s ease-in-out;
            &:hover{
                background-color: $fondoBotonHover;
            }
        }
        .boton2{
            background-color: $colorVineta;
            border: none;
            padding: 1.5vw 3vw 1.5vw 3vw;
            transition: all .3s ease-in-out;
            &:hover{
                background-color: $fondoVinetaHover;
            }
        }
        .boton1, .boton2{
            border-radius: 10px;
            color: $colorLetra;
            font-family: $fuenteBold;
            font-size: 1.2vw;
        }
    }
}